*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/libs/
app/src/main/java/com/xiaobozheng/gankio/data/local/
app/src/main/java/com/xiaobozheng/gankio/data/remote/
app/src/main/java/com/xiaobozheng/gankio/injection/
app/src/main/java/com/xiaobozheng/gankio/ui/adapter/
app/src/main/java/com/xiaobozheng/gankio/ui/fragment/
app/src/main/java/com/xiaobozheng/gankio/widget/
app/src/main/res/drawable/
library/build/generated/res/
library/build/generated/source/aidl/
library/build/generated/source/rs/
library/build/intermediates/annotations/
library/build/intermediates/assets/
library/build/intermediates/bundles/debug/aidl/
library/build/intermediates/bundles/debug/assets/
library/build/intermediates/bundles/debug/jni/
library/build/intermediates/bundles/debug/libs/
library/build/intermediates/bundles/release/aidl/
library/build/intermediates/bundles/release/assets/
library/build/intermediates/bundles/release/jni/
library/build/intermediates/bundles/release/libs/
library/build/intermediates/dependency-cache/
library/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.1.1/aidl/
library/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.1.1/assets/
library/build/intermediates/exploded-aar/com.android.support/support-v4/23.1.1/assets/
library/build/intermediates/exploded-aar/com.android.support/support-v4/23.1.1/libs/
library/build/intermediates/exploded-aar/com.android.support/support-v4/23.1.1/res/
library/build/intermediates/jniLibs/
library/build/intermediates/lint/
library/build/intermediates/manifest/tmp/
library/build/intermediates/rs/
library/build/intermediates/transforms/
library/build/tmp/
